*{
    margin:0;
    padding:0;
}
table{
    width:100%;
}
div#result tr{
    margin:0;
    padding:0;
    width:100%;
}
div#result td{
    margin:auto;
    padding:auto;
    border:1px solid black;
    
}
td.cell{
    width:30%;
}